body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
   
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.text-small {
    font-size: 100%;
}
.text-align {
    -margin-start: 250px;
    -margin-end: 200px;
}
.header {
  background-image: url("https://lh3.googleusercontent.com/p07os46TO1vF0XFN3Zc-DpF4QQs1WVk-dj5_Z1poZrJoIyjQpehIdf--9XmgbgDbjpQDi0W-dc6XpG9nOcTcdQEDnHg-bN78_e6dJ_Nm2Lw1nh2q0Fz7ZcWsznLfzeAMa3V0bxNzySbKxckDgWTOHLb01hx96xAxIh-nV70jcMlq1LyPv93hb3IzYgk5MnBHAXgmompuAXj3QzocD4BPwy-o5wsyBsnfGpPjTwldmkJRc6xT_LrPLziSsoG3koZLAachiPdMBDAGCraQ4IZjZ2orSw4ib7M2YAaqxJ9ZfuuRp9NKxz-QMn9reI4-jJaLrXpUFpuDwvB7NLAPMl5HyJU0tmBNDOcr85pztBA7SAwo9xcfI8MSCKLmJDQDtdzE4-4YX_D1GhX1W4IwpcbfIknC4q9Sl4P8DO9xGcK9vDcFBTQ9mH6Rq_TYCovT6Zhtr9v0YFG0w8LRo5aDGjxwr3nULJ1xSY3aCe8lhEXL5bJgJbxyJMRgnFkZyLeYV25cTfUwUq-zkib9A5hQ7HCQyr81-4AvEznfhGUWy2j4jvn56hSUeIBt2hqIipLoBy6e2-Ju1M2fn-Vosc5p0UejAs69jp-RBad-KKVdM3VljQR-N4Q035dRk368=w896-h672-no");
  height: 400px;
  background-position: center center;
}
/*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 10.0s ;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 10.0s ;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 10.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}